<template name="bins">
		<img id="theItem" class="drag" draggable="true" width="40%" height="40%" src="{{itemSrc}}" alt="item" />
		<div id="bins">
			<img id="binR" class="target" src="singlestream.png" draggable="false" alt="Single Stream Recycling Bin" width="" height="" />
			<img id="binT" class="target" src="trash.png" draggable="false" alt="Trash Bin" width="" height=""/>
			<img id="binC" class="target" src="compost.png" draggable="false" alt="Compost Bin" width="" height=""/>
		</div>
</template>
